*{margin:0;padding:0;}
body{
	background-color:#EEE8Ae;
}
.main_wrapper{
	width:100%;
	
}

.wrapper{
	width:960px;
	margin:0 auto;
	display:block;
}
.header_bg{
	
	border-bottom:5px solid green;
	border-top:5px solid green;
	background-color:orange;	
}

#header{
	background-color:orange;
	border-left:1px solid #fff;
	border-right:1px solid #fff;

}
#header h1{
	color:white;
	padding:10px
}
#header p{
	padding:10px;
	color:gray;
}
.nav_bg{
	background-color:#f0ffff;
	border-bottom:5px solid green;
}
#nav{
	
	background:#f0ffff;
    min-height:42px;
	z-index:10;
	border-left:1px solid black;
	border-right:1px solid black;
}


#nav ul{
	list-style-type:none;
	
	background-color:;
	display:inline;
	z-index:989;
	
	
	
}
#nav ul li{
		float:left;
		border-left:1px solid #c2c2d6;
	border-right:1px solid #b3b3cc;
		background:;
		
		display:block;
		transition:1s all ease;
}

#nav ul li a{
	text-decoration:none;
	color:#a6a6a6;
	display:block;
	padding:12px;
	font-family:Arial;

}
#nav ul li a:hover{ 
color:black;
}

#nav ul li:last-child{
	border-right:none;
}
#nav ul li:first-child{
	border-left:none;
}
#nav  li ul{
	list-style-type:none;
	padding:0;
		
}
#nav ul li{
	position:relative;
	
}

#nav ul li ul{
	position:absolute;
	left:-999999px; 
	background:#f0ffff;
}
#nav ul li:hover ul{
	left:0;
}
#nav ul li ul li:first-child {
	border-top:5px solid green;
}
#nav ul li ul li{
	float:none;
	border-right:none;
	border-bottom:1px solid green;
	
	width:200px;
	position:relative;
}	
#nav ul li ul li ul{
	position:absolute;
	top:-999999px;
}
#nav ul li ul li:hover ul{
	top:-1px;
	left:200px;
}
#nav ul li ul li ul li{
	border-left:1px solid green;
}
#nav ul li ul li ul li:first-child{
	border-left:1px solid green;
}
.section_bg{
	background-color:#222222;
	border-bottom:5px solid green;
}
#slid_wrapper{
	background-color:#222222;
	border-left:1px solid white;
	border-right:1px solid white;
}
#slid_wrapper img{
	width:960px;
	vertical-align:middle;
	
}
.contain_bg{
	background-color:white;
}
#contain_wrapper{
	background-color:white;
	padding:10px;
	overflow:hidden;
	z-index:5;
	border-left:1px solid black;
	border-right:1px solid black;
	
}
#contain{
	width:620px;
	margin-right:20px;
	float:left;
	
}
#contain h1{
	font-family:Arial;
	padding-bottom:5px;
	color:green; 
	
	
}
#contain p{
	font-family:Arial;
	font-size:18px;
	text-align:justify;
}
#sigal_wrap{
	margin:20px;
	
	
}

.wrap_contain img{
	width:75px;
	height:75px;
	background-color:gray;
	border:1px solid black;
	padding:3px;
	float:left;
	
}
.wrap_contain p{
	width:500px;
	margin-left:95px;
}
#sigal_wrap{
	margin-bottom:55px;
	border-bottom:1px solid #635548;
	overflow:overflow;
}
#slidbar{
	width:295px; 
	float:left;
}
#slidbar ul{
	list-style-type:none;
		margin-left:30px;

	
}
#slidbar ul li{
	border-bottom:2px solid #9e9e9e;
	margin-bottom:3px;
}
#slidbar ul li:last-child{
	border-bottom:none;
}
#slidbar ul li a{
	text-decoration:none;
	color:powderblue;
	padding:3px; 
	display:block;
	
}
#slidbar ul li a:hover{
	background-color:black;
	border-radius:5px;
	
}
#slidbar h2{
	font-family:Arial;
	color:green;
	margin-left:25px;
}
#main_aside{
	border-bottom:1px solid #635548;
	margin-bottom:20px;
	padding:10px;
	overflow:hidden;
}
h2{
	font-family:Arial;
	font-weight:bold;
	font-size:28px;
	padding:5px;
	margin-bottom:10px;
	
}
.footer_bg{
	background-color:black;
}

#footer{
	background:black;
	text-align:center;
	padding:10px;
	display:block;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	
}
#footer p{
	color:white;
}
